ALTER TABLE fleet_clusters DROP COLUMN import_method;
ALTER TABLE fleet_clusters DROP COLUMN kubeconfig_hash;
ALTER TABLE fleet_clusters DROP COLUMN last_health_check;
ALTER TABLE fleet_clusters DROP COLUMN health_status;
ALTER TABLE fleet_clusters DROP COLUMN discovered_resources;
