ALTER TABLE fleet_clusters ADD COLUMN import_method VARCHAR(50) DEFAULT 'manual';
ALTER TABLE fleet_clusters ADD COLUMN kubeconfig_hash VARCHAR(255);
ALTER TABLE fleet_clusters ADD COLUMN last_health_check TIMESTAMPTZ;
ALTER TABLE fleet_clusters ADD COLUMN health_status VARCHAR(50) DEFAULT 'unknown';
ALTER TABLE fleet_clusters ADD COLUMN discovered_resources JSONB;
